@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth antialias */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code block style */
.codewrap {
  @apply rounded-xl bg-neutral-900 text-neutral-100 p-4 text-sm leading-6;
  word-break: break-word;
  white-space: pre-wrap;
}